<div data-role="header">
	<h3>Dear Participant!</h3>
</div>
<div class="ui-content">
	<p>Please take a moment to think about what makes your life and existence feel important and
	significant to you. Please respond to the following statements as truthfully and accurately as
	you can, and also please remember that these are very subjective questions and that there are no
	right and wrong answers. You will have to answer ten questions according to a scale.</p>
	<button class="ui-button" id="toquestions">Go to questions</button>
</div>
